* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    scroll-behavior: smooth; /* CSS soft slide */
    background: transparent;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0b0e1a; /*header bg color*/
    padding: 20px 60px;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between; /* left - right seperation */
    align-items: center;
}

section {
    position: relative;
    z-index: 1;
}


/* =========================
   STARRY BACKGROUND
========================= */

body {
    margin: 0;
    background: #0b0e1a; /* koyu gece tonu */
    color: white;
    overflow-x: hidden;
}

#stars {
    position: fixed;
    inset: 0;
    z-index: -999;
    background-color: #0b0e1a;

    background-image:
        radial-gradient(1px 1px at 10% 20%, rgba(255,255,255,0.9), transparent),
        radial-gradient(1px 1px at 25% 80%, rgba(255,255,255,0.8), transparent),
        radial-gradient(2px 2px at 40% 40%, rgba(255,255,255,0.9), transparent),
        radial-gradient(1px 1px at 55% 65%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 70% 30%, rgba(255,255,255,0.9), transparent),
        radial-gradient(1px 1px at 85% 75%, rgba(255,255,255,0.6), transparent),
        radial-gradient(1px 1px at 95% 15%, rgba(255,255,255,0.8), transparent);

    background-size: 250px 250px;
    animation: starsMove 70s linear infinite;
    opacity: 0.45;
}

@keyframes starsMove {
    from { background-position: 0 0; }
    to { background-position: 1200px 1200px; }
}



/* LOGO / Name */
.logo {
    display: flex;
  align-items: center;
}

.logo img {
  height: 40px;       
  width: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo img {
    height: 32px;
  }
}


/* NAVBAR */
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

/* HOVER EFFECT */
nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

nav a:hover {
    color: #ff8c42; /* header hover color */
}

nav a:hover::after {
    width: 100%;
    background-color: #ff8c42; /* header hover color line */
}


section {
    min-height: 100vh;
    padding: 120px 80px;
}

#home { background: #111;}

#projects { background: #f4f4f4; }

#about { 
    background: transparent; 
    padding: 120px 100px;
}

/* CONTAINER */
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 100px;
    align-items: center;
}

/* TEXT*/
.about-text p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
    max-width: 520px;
    color: white;
}

.about-highlights {
    list-style: none;
    padding: 0;
    margin-top: 32px;
    color: white;
}

.about-highlights li {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 18px;
    color: white;
}

.about-highlights li::before {
    content: "—";
    position: absolute;
    left: 0;
    color: white;
}

/* Photo - About */
.about-image {
    display: flex;
    justify-content: flex-end;
}

.about-image img {
    width: 100%;
    max-width: 360px;
    border-radius: 16px;
    object-fit: cover;
}

@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .about-image {
        justify-content: flex-start;
    }
}


#certificates { 
    background: transparent;
    padding: 120px 100px; 
}

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    margin-top: 60px;
}

.certificate-card {
    text-decoration: none;
    color: white; /*certificate text color */
    text-align: center;
}

.certificate-card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-card p {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.4;
}

.certificate-card:hover img {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0,0,0,0.12);
}

@media (max-width: 1200px) {
    .certificates-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .certificates-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .certificates-grid {
        grid-template-columns: 1fr;
    }
}


/*SKILLS*/
#skills { 
    background: transparent;
    padding: 120px 100px;
}

/* GRID */
.skills-grid {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 60px;
}

/* GROUP CARD */
.skill-group {
    background: #051224;
    border-radius: 20px;
    padding: 32px;
    transition: all 0.3s ease;
    border: 1px solid #6ea2ec;
}

.skill-group:hover {
    border: 1px solid #adc8ee;
    transform: scale(1.05);
}

/* HEADER */
.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.skill-header h3 {
    font-size: 22px;
}

.toggle-icon {
    font-size: 24px;
    transition: transform 0.3s ease;
}

/* CONTENT */
.skill-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    margin-top: 0;
}

.skill-content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.skill-bar {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 16px;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255,255,255,0.12);

    transition: all 0.3s ease;
}

.skill-bar .iconify {
    font-size: 24px;
    color: #f39c12; /* turuncu */
}

.skill-bar span {
    font-size: 14px;
    color: #fff;
}

/* hover */
.skill-bar:hover {
    transform: scale(1.06);
    background: rgb(3, 80, 148);
}


.skill-group.active .skill-content {
    max-height: 400px;
    opacity: 1;
    margin-top: 24px;
}

.skill-group.active .toggle-icon {
    transform: rotate(45deg); /* + → x */
}

/* SKILL BAR */
.skill-bar {
    margin-bottom: 18px;
}

.skill-bar span {
    font-size: 14px;
}

.bar {
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 6px;
    margin-top: 6px;
}

.bar div {
    height: 100%;
    background: #111;
    border-radius: 6px;
}

/* ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*BACKGROUND*/
#background {
    background: transparent;
    min-height: 100vh;
    padding: 120px 80px;
}

.section-title {
    font-size: 42px;
    margin-bottom: 60px;
    color: white;
}

/* Two column structure */
.background-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

/* Column titles */
.background-column h3 {
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
    color: orange;
}

.background-column h3::after {
    content: "";
    width: 40px;
    height: 2px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}


/* item */
.background-item {
    margin-bottom: 30px;
    color: white;
}

.background-item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}




.subtitle {
    display: block;
    font-size: 15px;
    color: #555;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.703);
}

.date {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.386);
}

#home {
    background: transparent;
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    align-items: center;
}

.home-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
}

/* Left side – text */
.home-text {
    font-size: 28px;
    line-height: 1.4;
    max-width: 500px;
    color: white;   /*text color*/
}

.home-text strong {
    font-weight: 600;
    color: white; /*text color*/
}

.home-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

.home-title .highlight {
    color: #ff8c42; /* turuncu */
}

.home-subtitle {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 14px;
    opacity: 0.9;
}

.home-typing {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    min-height: 24px; /* typing sırasında zıplamayı önler */
}

/* SOCIAL MEDIA ICONS */
.social-icons {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white; /*social media color*/
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

/* PLATFORM RENKLERİ */
.social-icons .icon.linkedin:hover {
    color: #0c80f3;
}

.social-icons .icon.behance:hover {
    color: #053eff;
}

.social-icons .icon.gmail:hover {
    color: #ff0404;
}

/* Right side – Image */
.home-image {
    display: flex;
    justify-content: flex-end;
}

.home-image img {
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

/* =======================
   RESPONSIVE
======================= */

@media (max-width: 900px) {
    #home {
        padding: 100px 40px;
    }

    .home-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .home-image {
        justify-content: flex-start;
    }
}

/*PROJECTS*/
#projects {
    padding: 120px 100px;
    background: transparent; /*project bg*/
}

.section-title {
    font-size: 42px;
    margin-bottom: 60px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.project-card {
    background: #051224;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    border: 1px solid #1956ab;
    position: relative;
}

.project-card:hover {
    transform: translateY(-6px);
    border: 1px solid #6ea2ec;
}

.project-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    padding-bottom: 60px;
}

.project-desc {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 16px;
    color:white; /*project desc color*/
}

.project-more-btn {
    background: none;
    border: 1px solid #1956ab;
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    color: white;
    text-decoration: none;

    position: absolute;
    bottom: 20px;   /* kartın altından mesafe */
    left: 15%;
    transform: translateX(-50%);
}

.project-more-btn:hover {
    background: #6ea2ec;
    color: #051224;
}

.project-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.project-modal.active {
    display: flex;
}

@media (max-width: 1024px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .project-card {
        padding: 16px;
        border-radius: 16px;
    }
}



.modal-content {
    background: #fff;
    width: 80%;
    max-width: 900px;
    border-radius: 24px;
    padding: 40px;
    position: relative;
    animation: scaleIn 0.3s ease;
}

.modal-content h3 {
    font-size: 32px;
    margin-bottom: 16px;
    color:#011034;
}

.modal-text {
    font-size: 16px;
    max-width: 600px;
    margin-bottom: 32px;
    color:#011034;
}

.modal-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.modal-images img {
    width: 100%;
    border-radius: 16px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 24px;
    font-size: 32px;
    cursor: pointer;
    line-height: 1;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#awards {
  padding: 120px 60;
  background: transparent;
}

.awards-grid {
  .awards-grid {
  display: flex;
  flex-direction: column;
  gap: 80px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  
}

}

/* Her award kutusu */
.award-item {
  border-top: 1px solid #ccc;
  padding-top: 40px;
}

/* Üst bilgi (küçük, gazete stili) */
.award-meta {
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 12px;
}

/* Manşet */
.award-title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 24px;
  max-width: 900px;
  color: black;
}

/* İçerik */
.award-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: start;
  color: black;
}

/* Görsel */
.award-content img {
  width: 50%;
  height: auto;
  object-fit: cover;
  /*filter: grayscale(100%);*/
}

/* Metin */
.award-content p {
  font-size: 16px;
  line-height: 1.7;
  color: black;
  max-width: 520px;
}

.award-more-btn {
    background: none;
    border: 1px solid #111;
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.award-more-btn:hover {
    background: #111;
    color: #fff;
}

.awards-slider {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
}

.awards-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}




@media (max-width: 900px) {
  .award-content {
    grid-template-columns: 1fr;
  }

  .award-title {
    font-size: 26px;
  }
}



/*============CONTACT=============00*/
#contact {
    background: transparent;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    text-align: center;
    max-width: 600px;
}

.contact-icon {
    margin-bottom: 30px;
}

.mail-icon {
    width: 60px;
    height: 60px;
    color: white;
}

#contact h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

#contact p {
    font-size: 16px;
    color: #aaa;
    margin-bottom: 30px;
}

.contact-mail {
    position: relative;
    display: inline-block;
    padding: 6px 16px;
    color: white;
    text-decoration: none;
}

.contact-mail::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid white;
    border-radius: 999px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.contact-mail:hover::after {
    transform: scaleX(1);
}



.modal-description {
  margin-bottom: 1rem;
  text-align: center;
}

.modal-image {
  margin-bottom: 1rem;
  display: block;
}

.modal-link {
  color: var(--first-color);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}


.modal-icon {
  font-size: 2rem;
}

/*======================AWARDS=========================*/
.awards-slider {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    padding: 20px 100px;
    scroll-snap-type: x mandatory;
}

.awards-slider::-webkit-scrollbar {
    height: 6px;
}

.awards-slider::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.award-card {
    min-width: 420px;
    background: #051224;
    border-radius: 20px;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    border: 1px solid #71a8eb;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.award-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.award-content {
    padding: 24px;
}

.award-content h3 {
    margin-bottom: 12px;
    color: #b6d1f6;
}

.award-content p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: #99c3ff;
}

.award-more-btn {
    background: none;
    border: 1px solid #6ea2ec;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #94bbf1;

    position: absolute;
    bottom: 40px;
    left: 15%;
    transform: translateX(-50%);
}

.award-more-btn:hover {
    background: #6ea2ec;
    color: #031e43;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    max-width: 800px;
    width: 90%;
    padding: 40px;
    border-radius: 24px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 24px;
    font-size: 28px;
    cursor: pointer;
}

.modal-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 24px;
}

.modal-images img {
    width: 100%;
    border-radius: 12px;
}

.awards-wrapper {
    position: relative;
    padding: 0 80px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: #6ea2ec;;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    transition: all 0.3s ease;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.arrow:hover {
    background: #111;
    color: white;
}
